/* ---------------------------------------------------------------
   Import du fichier CSS pour le style de la section photographe
--------------------------------------------------------------- */
@import url("photographer.css");

/* ---------------------------------------------------------------
   Styles généraux de la page
--------------------------------------------------------------- */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* ---------------------------------------------------------------
   Styles de l'en-tête (Header)
--------------------------------------------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* ---------------------------------------------------------------
   Section des Photographes (Grille des photographes)
--------------------------------------------------------------- */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes */
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 28px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

/* ---------------------------------------------------------------
   Profil du Photographe (Image de profil, nom, ville, etc.)
--------------------------------------------------------------- */
#photographer-portrait {
    display: none;  /* Masque l'image par défaut */
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size: 20px;
    color: #000;
    margin: 2px 0;
}

.city {
    font-size: 12px;
    color: #000;
    margin: 0;
}

.tagline {
    font-size: 12px;
    color: #333;
    margin: 2px 0;
}

article {
    padding: 10px;
    max-width: 250px;
    text-align: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------
   Section de Tri des Photographes
--------------------------------------------------------------- */
.sorting {
    margin: 20px;
}

#sort-select {
    padding: 10px;
    font-size: 16px;
}

/* ---------------------------------------------------------------
   Modale (Fenêtre Pop-up)
--------------------------------------------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.error-message {
    color: red;
    font-size: 0.9em;
}


/* ---------------------------------------------------------------
   Lightbox (Agrandissement des images)
--------------------------------------------------------------- */
#lightbox-image {
    display: none;  /* Masque l'image par défaut */
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #901C1C;
    font-size: 40px;
    cursor: pointer;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: -1;
}

.arrow {
    background: none;
    border: none;
    color: #901C1C;
    font-size: 30px;
    cursor: pointer;
}



/* ---------------------------------------------------------------
   Lightbox d'Images et Vidéos (Affichage en plein écran)
--------------------------------------------------------------- */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox-image, #lightbox video {
    max-width: 400px;
    border-radius: 5px;
}


#prev, #next {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#close {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#lightbox video {
    display: none;
}

/* ---------------------------------------------------------------
   Style du Menu de Sélection (Formulaire de tri)
--------------------------------------------------------------- */
a {
    text-decoration: none;
}

.sorting label {
    font-weight: bold;
}

select {
    background-color: #901C1C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    appearance: none; /* Désactive les styles natifs */
    -webkit-appearance: none; /* Pour Safari/Chrome */
    -moz-appearance: none; /* Pour Firefox */
    width: 200px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: none;
    outline: none; /* Retire le contour par défaut */
}

/* Éviter les bordures et box-shadow autour des options */
select:focus, select:active {
    outline: none; /* Retire le contour au focus */
    box-shadow: none; /* Supprime la shadow autour du select */
}

select option {
    background-color: #901C1C;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
}

/* Enlève le fond bleu au survol des options */
select option:hover {
    background-color: #901C1C;
}

/* Enlève le fond bleu du focus des options */
select option:focus {
    background-color: #901C1C; /* Garde la même couleur de fond */
}


/* ---------------------------------------------------------------
   Styles pour la Ville et le Prix du Photographe
--------------------------------------------------------------- */
.city {
    font-weight: bold;
    color: #D3573C; 
}

.price {
    font-size: 0.70em;
    color: #B0B0B0;
    margin: 0px;
}

/* ---------------------------------------------------------------
   Derniers details
--------------------------------------------------------------- */

/* Style général pour les champs de texte (input et textarea) */
input, textarea {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur du champ */
  }
  
/* Style spécifique pour le textarea */
textarea {
height: 80px; 
}


  